@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

.form-structor {
  background-color: #222;
  border-radius: 15px;
  height: 550px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.form-structor::after {
  content: '';
  opacity: .8;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 500px;
  background-image: url('https://images.unsplash.com/photo-1503602642458-232111445657?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bf884ad570b50659c5fa2dc2cfb20ecf&auto=format&fit=crop&w=1000&q=100');
}

/* SIGNUP SECTION */
.signup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  z-index: 5;
  transition: all 0.3s ease;
}

.signup.slide-up {
  top: 5%;
  transform: translate(-50%, 0%);
}

.signup.slide-up .form-holder,
.signup.slide-up .submit-btn {
  opacity: 0;
  visibility: hidden;
}

.signup.slide-up .form-title {
  font-size: 1em;
  cursor: pointer;
}

.signup.slide-up .form-title span {
  margin-right: 5px;
  opacity: 1;
  visibility: visible;
}

.form-title {
  color: #fff;
  font-size: 1.7em;
  text-align: center;
  margin: 0 0 20px 0;
  cursor: pointer;
}

.form-title span {
  color: rgba(0,0,0,0.4);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.form-holder {
  border-radius: 15px;
  background-color: #fff;
  overflow: hidden;
  margin-top: 30px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}

.input {
  border: 0;
  outline: none;
  box-shadow: none;
  display: block;
  height: 45px;
  line-height: 40px;
  padding: 12px 15px;
  border-bottom: 1px solid #eee;
  width: 100%;
  font-size: 14px;
  font-family: "Fira Sans", sans-serif;
}

.input:last-child {
  border-bottom: 0;
}

.input::placeholder {
  color: rgba(0,0,0,0.4);
}

.submit-btn {
  background-color: rgba(0,0,0,0.4);
  color: rgba(255,255,255,0.7);
  border: 0;
  border-radius: 15px;
  display: block;
  margin: 20px auto;
  padding: 15px 45px;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
  font-family: "Fira Sans", sans-serif;
}

.submit-btn:hover {
  background-color: rgba(0,0,0,0.8);
}

/* LOGIN SECTION */
.login {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 5;
  transition: all 0.3s ease;
  border-radius: 15px;
}

.login::before {
  content: '';
  position: absolute;
  left: 50%;
  top: -20px;
  transform: translate(-50%, 0);
  background-color: #fff;
  width: 200%;
  height: 250px;
  border-radius: 50%;
  z-index: 4;
  transition: all 0.3s ease;
}

.login .center {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  z-index: 5;
  transition: all 0.3s ease;
}

.login .form-title {
  color: #000;
}

.login .form-holder {
  border: 1px solid #eee;
}

.login .submit-btn {
  background-color: #6B92A4;
}

.login.slide-up {
  top: 90%;
}

.login.slide-up .center {
  top: 10%;
  transform: translate(-50%, 0%);
}

.login.slide-up .form-holder,
.login.slide-up .submit-btn {
  opacity: 0;
  visibility: hidden;
}

.login.slide-up .form-title {
  font-size: 1em;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.login.slide-up .form-title span {
  margin-right: 5px;
  opacity: 1;
  visibility: visible;
}

/* RESPONSIVE DESIGN */
@media (max-width: 480px) {
  .form-structor {
    width: 90%;
    height: 500px;
    max-width: 350px;
  }
  
  .signup,
  .login .center {
    width: 80%;
  }
  
  .form-title {
    font-size: 1.4em;
  }
}