.experimental-grid {
  display: grid;
}
.row{
  display: grid;
  gap: 2rem;
  margin-bottom: 3rem;
  margin-inline: 20px;
  grid-template-columns: repeat(4, 1fr);
  height:50vh;
}
.row2{
  display:grid;
  gap: 2rem;
  margin: 3rem;
  grid-template-columns: repeat(3, 1fr);
  height:50vh;
  width:100%;
}

@media (max-width: 1024px) {
  .experimental-grid {
    grid-template-columns: 1fr;
  }
  .row{
  display: grid;
  gap: 2rem;
  margin-bottom: 3rem;
  margin-inline: 20px;
  grid-template-columns: repeat(1, 1fr);
  height:50vh;
}
.row2{
  display:grid;
  gap: 2rem;
  margin: 3rem;
  grid-template-columns: repeat(1, 1fr);
}
}

@media (max-width: 768px) {
  .experimental-grid {
    grid-template-columns: 1fr;
  }
    .row{
  display: grid;
  gap: 2rem;
  margin-bottom: 3rem;
  margin-inline: 20px;
  grid-template-columns: repeat(1, 1fr);
  height:50vh;
}
.row2{
  display:grid;
  gap: 2rem;
  margin: 3rem;
  grid-template-columns: repeat(1, 1fr);
}
}