.loaders-grid {
  display: grid;
  gap: 2rem;
  margin-bottom: 3rem;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1024px) {
  .loaders-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .loaders-grid {
    grid-template-columns: 1fr;
  }
}