.logins-grid {
  display: grid;
}
.row{
  display: grid;
  gap: 2rem;
  margin-bottom: 3rem;
  margin-inline: 20px;
  grid-template-columns: repeat(2, 1fr);
}
.row2{
  display:grid;
  gap: 2rem;
  margin: 3rem;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1024px) {
  .loaders-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .loaders-grid {
    grid-template-columns: 1fr;
  }
}