.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    border-radius: 15px;
    padding: 40px 20px;
    box-shadow: 0 10px 30px rgba(255, 50, 0, 0.3);
    border: 1px solid rgba(255, 100, 0, 0.4);
    position: relative;
    overflow: hidden;
}

.loading-banner {
  position: absolute; /* Cambiado a absolute para posicionarlo arriba */
  top: 15%; /* Posicionado en la parte superior */
  left: 30%;
  transform: translateX(-50%);
  width: 300px;
  background: #00000000;
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 0 0 10px 10px;
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
@keyframes hinge {
  0% { transform: rotate3d(0,0,1,0deg); opacity: 1; }
  20%,60% { transform: rotate3d(0,0,1,80deg); }
  40%,80% { transform: rotate3d(0,0,1,60deg); opacity: 1; }
  100% { transform: translate3d(0,700px,0) rotate3d(0,0,1,90deg); opacity: 0; }
}

.hinge {
  animation: hinge 7s ease-in-out infinite;
}
.loading-banner p {
    margin: 0;
    font-family: 'Arial Black', 'Impact', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: transparent;
    text-shadow: 
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff,
        0 0 20px #ff6600,
        0 0 35px #ff6600,
        0 0 40px #ff6600,
        0 0 50px #ff6600;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: neonFlicker 1.5s infinite alternate;
}

@keyframes neonFlicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow: 
            0 0 5px #fff,
            0 0 10px #fff,
            0 0 15px #fff,
            0 0 20px #ff6600,
            0 0 35px #ff6600,
            0 0 40px #ff6600,
            0 0 50px #ff6600;
    }
    20%, 24%, 55% {
        text-shadow: 
            0 0 2px #fff,
            0 0 5px #fff,
            0 0 7px #fff,
            0 0 12px #ff6600,
            0 0 22px #ff6600,
            0 0 27px #ff6600,
            0 0 35px #ff6600,
            0 0 50px #ff6600;
    }
}