/* GRID CONTAINER */
.loaders-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 100%;
  justify-content: space-between;
  margin: 24px auto;
  background-color: rgba(0, 0, 0, 0);
}

/* RESPONSIVE */
@media (max-width: 1200px) {
  .loaders-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .loaders-grid {
    grid-template-columns: 1;
    gap: 1rem;
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  .loaders-grid {
    grid-template-columns: 1fr;
  }
}